@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sucuoğlu Cinema Management System</h1>
    <p>To buy tickets click -> <a asp-area="" asp-controller="Cinema" asp-action="Ticket">Buy Tickets</a>.</p><br />
    <p>To add movie -> <a asp-area="" asp-controller="Cinema" asp-action="AddMovie">Add Movie</a>.</p><br />
    <p>To list movies -> <a asp-area="" asp-controller="Cinema" asp-action="List">List Movies</a>.</p><br />

</div>
